{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title> Stocker </title>
        <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Open+Sans|Slabo+27px' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'ico/fav.ico' %}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <script type='text/javascript' src="{% static 'js/stocker.js' %}"> </script>
    </head>

    <body>
        <div id="land">
            <div id="front">
                <h1 id="title"> Stocker </h1>
                <h2> Enter a stock ticker... </h2>
                <form>
                    <input id="get_stock"> </input>
                    <br> </br>
                    <button id="submit" class="btn btn-success">Submit </button>
                </form>
                <div class="sk-folding-cube" id="load">
                    <div class="sk-cube1 sk-cube"></div>
                    <div class="sk-cube2 sk-cube"></div>
                    <div class="sk-cube4 sk-cube"></div>
                    <div class="sk-cube3 sk-cube"></div>
                </div>
                <div id="AHHH">
                    <div class="alert alert-danger" id="fail">  </div>
                </div>
             </div>
        </div>
        <div id="stock_data">
        <div id="info">
            <div id="basic">
                <h1 id="name"> </h1>
                <h2 id="current"></h2>
                <h3 id="day_change"></h3>
                <div id="transition">
                <a id="statistics" href="#stat">
                <span class="fa fa-angle-double-down fa-2x fa-inverse" id="trans"></span>
                </a>
                </div>
            </div>
            <div id="stat">
                <h2> Statistics </h2>
                <h3 id="pe"></h3>
                <h3 id="eps"></h3>
            </div>
            <form id="compare">
            <h3> Compare: </h3>
            <input id="get_compare"> </input>
            <button id="compare_listen" class="btn btn-success"> Submit </button>
            <div id="UHHH">
            <div class="alert alert-danger" id="fail_2">  </div>
            <div class="alert alert-success" id="success"> </div>
            </div>

            </form>
            <div class="row" id="switch">
            <div id="stock1" class="col-sm-4"></div>
            <div id="stockboth" class="col-sm-4">
            </div>
            <div id="stock2" class="col-sm-4">
            </div>
            </div>
         </div>
        <div id="data"> </div>
        </div>
    </body>
</html>
